In [37]:
import pandas as pd
import streamlit as st
import sqlite3

### ConexÃ£o com o banco de dados

In [29]:
class DbConn:

    def __init__(self) -> None:
        self.conn = sqlite3.connect("../data/latest.db") 

    def execute_sql(self, query:str, params:dict = None, return_df:bool = True): 

        cur = self.conn.cursor() 
        try:
            if params is not None:
                cur.execute(query, params) 
            else:
                cur.execute(query) 
            if return_df:
                column_names = [col[0] for col in cur.description] 
                query_data = cur.fetchall() 
                query_df = pd.DataFrame.from_records(query_data, columns=column_names) 
                res = query_df 

            return res 
        finally:
            cur.close() 

    def commit(self):
        self.conn.commit() 
        self.conn.close() 

def getLvl1Data():
    
    conn = DbConn()

    query = f"""
            SELECT t.*,
                l.administrative_area_level,
                l.administrative_area_level_1,
                l.administrative_area_level_2,
                l.administrative_area_level_3,
                l.latitude,
                l.longitude,
                l.population
            FROM timeseries t 
            LEFT JOIN location l on l.id = t.id
            WHERE l.administrative_area_level = 1;
            """ 
    
    df = conn.execute_sql(query=query, return_df=True)  

    # Convert date column to datetime and get the date 
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].apply(lambda x: pd.Timestamp(x).date())

    return df

def getLvl2Data():
    
    conn = DbConn()

    query = f"""
            SELECT t.*,
                l.administrative_area_level,
                l.administrative_area_level_1,
                l.administrative_area_level_2,
                l.administrative_area_level_3,
                l.latitude,
                l.longitude,
                l.population
            FROM timeseries t 
            LEFT JOIN location l on l.id = t.id
            WHERE l.administrative_area_level = 2;
            """ 
    
    df = conn.execute_sql(query=query, return_df=True)  
    # Convert date column to datetime and get the date 
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].apply(lambda x: pd.Timestamp(x).date())

    st.session_state['downloaded_lvl2_data'] = True

    return df

In [30]:
df = getLvl1Data()

In [31]:
df

,id,date,confirmed,deaths,recovered,tests,vaccines,people_vaccinated,people_fully_vaccinated,hosp,...,stringency_index,containment_health_index,economic_support_index,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,population
0,8320791a,2020-03-13,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,Grand Princess,None,None,NaN,NaN,3.533000e+03
1,8320791a,2020-03-14,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,Grand Princess,None,None,NaN,NaN,3.533000e+03
2,8320791a,2020-03-15,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,Grand Princess,None,None,NaN,NaN,3.533000e+03
3,8320791a,2020-03-16,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,Grand Princess,None,None,NaN,NaN,3.533000e+03
4,8320791a,2020-03-17,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,Grand Princess,None,None,NaN,NaN,3.533000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279701,c39bfe6c,2023-10-23,NaN,NaN,NaN,NaN,2.206747e+09,1.027419e+09,951985948.0,NaN,...,NaN,NaN,NaN,1,India,None,None,21.0,78.0,1.352617e+09
279702,c39bfe6c,2023-10-24,NaN,NaN,NaN,NaN,2.206747e+09,1.027419e+09,951985959.0,NaN,...,NaN,NaN,NaN,1,India,None,None,21.0,78.0,1.352617e+09
279703,c39bfe6c,2023-10-25,NaN,NaN,NaN,NaN,2.206747e+09,1.027419e+09,951985992.0,NaN,...,NaN,NaN,NaN,1,India,None,None,21.0,78.0,1.352617e+09
279704,c39bfe6c,2023-10-26,NaN,NaN,NaN,NaN,2.206747e+09,1.027419e+09,951986024.0,NaN,...,NaN,NaN,NaN,1,India,None,None,21.0,78.0,1.352617e+09
279705,c39bfe6c,2023-10-27,NaN,NaN,NaN,NaN,2.206747e+09,1.027419e+09,951986043.0,NaN,...,NaN,NaN,NaN,1,India,None,None,21.0,78.0,1.352617e+09